:root {
    --title-color: #322153; /* cria a variavel --title-color */
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* comportamento como caixa */
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5; /* cor em hexadecimal */
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none; /* tira sublinhado de links */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}